.banner {
  position: relative;
  height: 111px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    height: 223px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  &__picture {
    @include image-position;
    @include image-border-radius;
    filter: brightness(80%);
  }

  &__tagline {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    margin-left: 10px;
    color: $color-secondary;
    font-size: 24px;
    font-weight: 500;

    @media (min-width: 768px) {
      justify-content: center;
      left: 0;
      right: 0;
      margin-left: 0;
    }

    @media (min-width: 768px) {
      font-size: 48px;
    }
  }
}

.banner--secondary {
  height: 223px;
}
