.banner {
  position: relative;
  height: 223px;
  margin-top: 60px;
  margin-bottom: 40px;
  filter: brightness(80%);

  &__picture {
    @include image-position;
    @include image-border-radius;
  }

  &__tagline {
    @include center-element;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $color-secondary;
    font-size: 48px;
    font-weight: 500;
  }
}
