.carousel {
  &__item {
    position: relative;
    height: 255px;
    @media (min-width: 768px) {
      height: 415px;
      margin-top: 30px;
    }

    &__image {
      @include image-position;
      @include image-border-radius;
    }

    &__button {
      position: absolute;
      z-index: 100;
      top: 0;
      bottom: 0;
      color: $color-secondary;
      background-color: transparent;
      border: none;
      @media (min-width: 768px) {
        font-size: 84px;
      }
    }

    &__counter {
      display: none;
      @media (min-width: 768px) {
        display: block;
        position: absolute;
        z-index: 100;
        left: 50%;
        transform: translateX(-50%);
        bottom: 8%;
        color: $color-secondary;
      }
    }
  }

  .button__previous {
    left: 2%;
  }

  .button__next {
    right: 2%;
  }
}
