.carousel {
  &__item {
    position: relative;
    width: 1240px;
    height: 415px;
    margin-top: 30px;

    &__image {
      @include image-position;
      @include image-border-radius;
    }

    &__button {
      position: absolute;
      z-index: 100;
      top: 0;
      bottom: 0;
      font-size: 84px;
      color: $color-secondary;
      background-color: transparent;
      border: none;
    }

    &__counter {
      position: absolute;
      z-index: 100;
      left: 50%;
      bottom: 8%;
      color: $color-secondary;
    }
  }

  .button__previous {
    left: 5%;
  }

  .button__next {
    right: 5%;
  }
}
