.error {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 40px;
  color: $color-primary;

  h1 {
    margin: 100px 0 0 0;
    font-size: 96px;
    font-weight: 700;

    @media (min-width: 992px) {
      margin-top: 60px;
      font-size: 200px;
    }
  }

  h2 {
    margin-bottom: 100px;
    font-size: 18px;
    font-weight: 500;

    @media (min-width: 992px) {
      font-size: 28px;
    }
  }

  a {
    font-size: 14px;
    color: $color-primary;

    @media (min-width: 992px) {
      font-size: 18px;
    }
  }
}
