.footer {
  @include center-element;
  flex-direction: column;
  height: 210px;
  margin-top: 40px;
  background-color: #000000;
  width: 100%;

  &__logo {
    width: 122px;
    height: 40px;
  }

  &__logo path {
    fill: $color-secondary;
  }

  &__copyright {
    color: $color-secondary;
    font-size: 24px;
    font-weight: 500;
  }
}
