.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 210px;
  margin-top: 40px;
  background-color: #000000;
  width: 100% !important;

  &__logo {
    width: 122px;
    height: 40px;
  }

  &__logo path {
    fill: white;
  }

  &__copyright {
    color: $color-secondary;
    font-size: 24px;
    font-weight: 500;
  }
}
