.gallery {
  @minclude image-border-radius;
  margin-bottom: 100px;
  background-color: #f7f7f7;
  padding: 56px 50px;

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 340px 340px 340px;
    row-gap: 55px;
    column-gap: 57px;
    margin: 0;
  }
}
