.accomodation {
  &__card {
    position: relative;
    height: 255px;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      width: 340px;
      height: 340px;
    }

    &:hover {
      opacity: 0.6;
    }

    &__photo {
      @include image-position;
      border-radius: 10px;
      filter: brightness(90%);
    }

    &__name {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: $color-secondary;
    }
  }
}
