@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: auto;
  box-sizing: border-box;
  font-family: 'Montserrat', 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.container {
  max-width: 1240px;
  min-height: 100vh;
  margin: 0 20px;

  @media (min-width: 1440px) {
    margin: 0 auto;
  }
}
