@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: auto;
  box-sizing: border-box;
  font-family: 'Montserrat', 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 1440px;
  margin: 0 20px;
  @media (min-width: 768px) {
    margin: 0 100px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

/* .container {
  margin: 0 20px;
  @media (min-width: 768px) {
    margin: 0 100px;
  }
} */
